services:
  twitch-timer:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "8080"
    volumes:
      - ./data:/app/Data
    env_file:
      - .env
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - DataDirectory=Data
    restart: unless-stopped
    networks:
      - web

  caddy:
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./certs:/etc/caddy/certs:ro
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped
    networks:
      - web

networks:
  web:


volumes:
  caddy_data:
  caddy_config:
